@keyframes loadBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: char;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes dots {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}

@keyframes popUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-box {
  width: 80%;
  max-width: 310px;
  padding: 5px;
  border: 1px solid #000; /* Add border to create box */
  background-color: #fff; /* Background color for the box */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-bar {
  width: 0; /* Start with width 0 */
  max-width: 300px;
  height: 20px;
  background-color: #000;
  animation: loadBar 3s forwards; /* Animate width from 0 to 100% */
  align-self: flex-start; /* Ensure the bar starts from the left */
}

.typing-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  width: 0; /* Start with width 0 */
  animation: typing 1.5s steps(30, end) forwards, blink 1s step-end infinite 1.5s; /* Animate text writing and blink */
  color: #000;
}

.typing-text.blink {
  animation: blink 1s step-end infinite;
}

.dots::after {
  content: '';
  animation: dots 1s steps(4, end) infinite;
}

.project-box-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Ensure the image does not overflow the box */
}

.project-box-container.hovered {
  background-color: #000; /* Change background color on hover */
}

.project-box {
  width: 70%;
  height: 70%;
  background-color: none;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  overflow: hidden; /* Ensure the image does not overflow the box */
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease;
  transform: scale(1);
  animation: popUp 0.5s ease forwards; /* Add pop-up animation */
}

.project-image:hover {
  transform: scale(1.05);
}