@keyframes loadBar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes dots {
  0%, 20% {
    content: '';
  }
  40% {
    content: '.';
  }
  60% {
    content: '..';
  }
  80%, 100% {
    content: '...';
  }
}

.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-bar {
  width: 0; /* Start with width 0 */
  max-width: 300px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #fff;
  padding: 5px; /* Add padding to create space inside the element */
  animation: loadBar 3s forwards; /* Animate width from 0 to 100% */
  margin-bottom: 20px;
}

.typing-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  width: auto;
  animation: none; /* Initially no animation */
  color: #fff;
}

.typing-text.blink {
  animation: blink 1s step-end infinite;
}

.dots::after {
  content: '';
  animation: dots 1s steps(4, end) infinite;
}

.project-box-container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Ensure the image does not overflow the box */
}

.project-box {
  width: 70%;
  height: 70%;
  background-color: #000;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  overflow: hidden; /* Ensure the image does not overflow the box */
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease;
  transform: scale(1);
}

.project-image:hover {
  transform: scale(1.05);
}