#projects {
  height: 100vh;
  display: flex;
  background-color: #fff;
  color: #000;
  position: relative;
}

.project-names {
  width: 30%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Ensure the custom cursor is positioned correctly */
}

.project-title {
  position: relative;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 40px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.project-title:hover {
  color: #888;
}


.project-skills {
  position: absolute;
  top: -20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.project-skill {
  padding: 4px 8px;
  background-color: #ffb200;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* Custom cursor styles */
.project-names:hover,
.project-title:hover {
  cursor: url('./cursor.svg') 4 4, auto; /* Hide the default cursor */
}

body.hovered .custom-cursor {
  display: block; /* Show the custom cursor when hovered */
}

.lightning-wrapper {
  position: fixed;
  width: 100px;
  height: 100px;
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  animation: lightning 1s infinite;
}

@keyframes lightning {
  0% { background-image: url('./lightning1.svg'); }
  20% { background-image: url('./lightning2.svg'); }
  40% { background-image: url('./lightning3.svg'); }
  60% { background-image: url('./lightning4.svg'); }
  80% { background-image: url('./lightning5.svg'); }
  100% { background-image: url('./lightning1.svg'); }
}

