#projects {
  height: 100vh;
  display: flex;
  background-color: #fff;
  color: #000;
  position: relative;
}

.project-names {
  width: 30%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Ensure the custom cursor is positioned correctly */
}

.project-title {
  position: relative;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 40px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.project-title:hover {
  color: #888;
}

.project-skills {
  position: absolute;
  top: -20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.project-skill {
  padding: 4px 8px;
  background-color: #ffb200;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* Custom cursor styles */
.project-names:hover,
.project-title:hover {
  cursor: none; /* Hide the default cursor */
}

.custom-cursor {
  width: 40px;
  height: 40px;
  background: url('./cursor.svg') no-repeat center center;
  background-size: contain;
  position: fixed; /* Use fixed positioning to follow the cursor accurately */
  pointer-events: none;
  display: none; /* Initially hidden */
  transform: translate(-50%, -50%); /* Center the custom cursor around the cursor */
}

body.hovered .custom-cursor {
  display: block; /* Show the custom cursor when hovered */
}

.lightning-wrapper {
  position: fixed; /* Use fixed positioning to follow the cursor accurately */
  width: 80px; /* Adjust size to be larger than the cursor */
  height: 80px; /* Adjust size to be larger than the cursor */
  pointer-events: none;
  display: none; /* Initially hidden */
  transform: translate(-50%, -50%); /* Center the lightning wrapper around the cursor */
}

body.hovered .lightning-wrapper {
  display: block; /* Show the lightning effect when hovered */
}

.lightning {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  animation: lightning 0.6s;
}

/* Lightning animation */
@keyframes lightning {
  0% { content: url('./lightning1.svg'); }
  20% { content: url('./lightning2.svg'); }
  40% { content: url('./lightning3.svg'); }
  60% { content: url('./lightning4.svg'); }
  80% { content: url('./lightning5.svg'); }
  100% { content: url('./lightning1.svg'); }
}
