#projects {
  height: 100vh;
  display: flex;
  background-color: #fff;
  color: #000;
  position: relative;
}

.project-names {
  width: 30%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; /* Ensure the custom cursor is positioned correctly */
}

.project-title {
  position: relative;
  font-size: 40px;
  font-weight: lighter;
  margin-bottom: 40px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.project-title:hover {
  color: #888;
}

.project-skills {
  position: absolute;
  top: -20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.project-skill {
  padding: 4px 8px;
  background-color: #ffb200;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

/* Custom cursor styles */
.project-names:hover,
.project-title:hover {
  cursor: none; /* Hide the default cursor */
}

.custom-cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  display: none; /* Initially hidden */
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.custom-cursor::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #fff; /* Color of the arrow */
  transform: translate(-50%, -50%);
}

body.hovered .custom-cursor {
  display: block; /* Show the custom cursor when hovered */
}

.important:hover .custom-cursor {
  background-color: rgba(255, 0, 0, 0.5); /* Change color on hover */
  transform: translate(-50%, -50%) scale(1.2); /* Scale up on hover */
}
