/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #FFB200;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #e29e00;
  }